body {
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    overflow-y: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 260px;
    right: 0;
    height: 70px;
    z-index: 999;
}

.main-content {
    position: relative;
    margin-left: 260px;
    /* pour laisser la sidebar */
    margin-top: 70px;
    /* pour laisser la header */
    overflow-y: auto;
}


@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .header {
        left: 0;
    }

    .main-content {
        left: 0;
    }
}